* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 80%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}


.st {
    padding-right: 40px;
    margin-top: 25px;
}

table, th, td {
    border: 1px solid black;

}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 90px;

}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

tbody tr:nth-child(odd) {
    background-color: #b7c3d0;
}

tbody tr:nth-child(even) {
    background-color: #c5d9ec;
}

.dots {
    position: absolute;
    left: 50%;
    bottom: 0;
    /*transform: translate(-50%, 32px);*/

    display: flex;
    gap: 12px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 2px solid #087f5b;
    border-radius: 50%;
    cursor: pointer;
}

.dot--fill {
    background-color: #087f5b;
}